.DS_Store
Thumbs.db
*~
IterationSequence2Project/CS325 Iteration Sequence 2/.vs/
IterationSequence2Project/CS325 Iteration Sequence 2/Library/
IterationSequence2Project/CS325 Iteration Sequence 2/Assembly-CSharp.csproj
IterationSequence2Project/CS325 Iteration Sequence 2/obj/
IterationSequence2Project/CS325 Iteration Sequence 2/Temp/
IterationSequence2Project/CS325 Iteration Sequence 2/Logs/
